@use '../global/' as g;
.c-button {
  display: inline-block;
  padding: .5rem 1.5rem;
  background: g.$main_color;
  color: g.$main_color_cont;
}

.c-button--accent {
  background: g.$accent_color;
  color: g.$accent_color_cont;
}