.c-card {
    background: #FEFEFE;
    border-radius: 0.5rem;
}
.c-card__image {
    aspect-ratio: 3/2;
}
.c-card__image img {
    border-radius: .5rem .5rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.c-card__body {
    padding: 1rem;
}