.c-fv {
  height: 50vh;
  position: relative;
}
.c-fv__image {
  width: 100%;
  height: 100%;
}
.c-fv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-fv__text-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.c-fv__text-container__title {
  font-size: 2rem;
}