@use '../global/' as g;
$width: 48%;

.c-imageText {
  display: block;
  justify-content: space-between;
  margin-bottom: 2rem;
  @include g.md {
    display: flex;
    margin-bottom: 0;
  }
}
.c-imageText__wrapper {
  @include g.md {
    width: $width;
  }
}

.c-imageText__image img {
  width: 100%;
  object-fit: cover;
}

.c-imageText__title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: g.$main_color;
}