@use '../global/' as g;
.p-lineup-list {
    display: flex;
    flex-wrap: wrap;
    border-radius: .5rem;
    background: linear-gradient(to right, #7fcef4 50%, #c5ecff 50%);
    @include g.md {
        background: linear-gradient(to right, #7fcef4 33.33%, #c5ecff 33.33%, #c5ecff 66.66%, #7fcef4 66.66%);
    }
}
.p-lineup-list__item {
    padding: .5rem;
    width: calc(100% / 2);
    @include g.md {
        padding: 1rem;
        width: calc(100% / 3);
    }
}
.p-lineup-list__item__content {
    border-radius: .5rem;
    background: #FCFCFC;
}