@use '../global/' as g;

.p-time-table {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.p-time-table__list {
    width: calc(50% - .5rem);
    // @include g.md {
    //     width: calc(50% - 1rem);
    // }
}
.p-time-table__list__item {
    height: 6rem;
    position: relative;
}
.p-time-table__list__item__time {
    font-weight: bold;
    font-size: .7rem;
}
.p-time-table__list__item:nth-child(odd) {
    background-color: #C5ECFF;
}
.p-time-table__list__item:nth-child(even) {
    background-color: #EEEEEE;
}
.p-time-table__list__item__content {
    position: absolute;
    left: 2.5rem;
    z-index: 1;
    padding: .25rem;
    width: calc(100% - 3rem);
    font-size: .8rem;
    background-color: g.$accent_color;
    line-height: 1;
}

.p-time-table__list__item__content__title {
    font-weight: bold;
}