@use '../global/' as g;
.p-top-fv {
    position: relative;
    background: url('images/fv-bg.png') no-repeat center bottom / cover;
    height: 100vh;
    @include g.md {
        height: 1380px;
    }
}

.p-top-fv__inner {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    @include g.md {
        width: auto;
    }
}