@use '../global/' as g;
.p-top-fv {
    position: relative;
    background: url('images/top.jpg') no-repeat top center / contain;
    height: 80vh;
    @include g.md {
        height: 1380px;
        background: url('images/top.jpg') no-repeat top center / cover;
    }
}

.p-top-fv__inner {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    @include g.md {
        width: auto;
    }
}