@use '../global/' as g;
.footer {
  padding: 3rem;
  background: g.$main_color;
  color: g.$main_color_cont;
}

.footer__top {
  margin-bottom: 3rem;
  @include g.md {
    display: flex;
    justify-content: space-between;
  }
}

.footer__nav {
  margin-top: 2rem;
}
.footer__nav .menu ul {
  justify-content: center;
}