@use '../global/' as g;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 9999;
  background: g.$base_color_cont;
  color: g.$base_color;
  padding: 1rem;
  width: 100%;
}
.header__nav {
  display: none;
  @include g.md {
    display: block;
  }
}

.header__nav .menu ul {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}