@use '../global/' as g;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  border-radius: 0.5rem;
  background: g.$main_color_cont;
  color: g.$main_color;
  padding: .5rem;
  width: 90%;
  font-weight: bold;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  @include g.md {
    width: 80%;
  }
}
.header__nav {
  display: none;
  @include g.md {
    display: block;
  }
}

.header__nav .menu ul {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}